* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 25vw 70vw;

  background: #22212c;
  color: #837e9f;
  padding: 0px 30px 0px 30px;
}

.container {
  margin-right: 3.75rem; /* 60px */
  margin-top: 1.875rem; /* 30px */

  padding: 30px;

  background: #302f3d;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.profile img {
  width: 8rem;
  height: 8rem;

  border: 2px solid #00ff00;
  border-radius: 4rem;

  margin-bottom: 1.875rem;
}

.bio {
  font-weight: 400;
  font-size: 13px;
  list-style: none;
}

.bio li {
  margin-bottom: 1.25rem;

  flex-direction: row;
  text-align: left;
}

.bio img {
  margin-right: 1.25rem;
}


.techs section {

  display: grid;
  
  grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-items: center;
  align-items: center;
  grid-gap: 7px;
}

.techs div {
  margin-top: 20px;
  padding: 6px;

  width: 5.375rem;
  height: 1.5rem;

  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #000;

  background: #cb92b1;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.exp ul {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  
  list-style-position: outside;
}

.exp li {
  list-style: none;
}

.exp #li {
  margin-bottom: 1.25rem;
}


.ed ul {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  
  list-style-position: outside;
}

.ed li {
  list-style: none;
}

.ed #li {
  margin-bottom: 1.25rem;
}

/*  Right side  */

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}