* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 25vw 70vw;

  background: #22212c;
  color: #837e9f;
  padding: 0px 30px 30px 30px;
}

.container {
  margin-right: 3.75rem; /* 60px */
  margin-top: 1.875rem; /* 30px */

  padding: 30px;

  background: #302f3d;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.profile img {
  width: 8rem;
  height: 8rem;

  border: 2px solid #00ff00;
  border-radius: 4rem;

  margin-bottom: 1.875rem;
}

.bio {
  font-weight: 400;
  font-size: 13px;
  list-style: none;
}

.bio li {
  display: flex;
  align-items: center;

  margin-bottom: 1.25rem;
  gap: 1.25rem;
}

.techs {
  text-align: center;
}

.techs section {
  display: grid;

  grid-template: 1fr 1fr 1fr /1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-items: center;
  align-items: center;
  gap: 7px;
}

.techs div {
  margin-top: 20px;
  padding: 6px;

  width: 5.375rem;
  height: 1.5rem;

  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #000;

  background: #cb92b1;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.exp {
  text-align: center;
}

.exp ul {
  margin-top: 1.25rem;

  list-style-position: outside;
}

.exp li {
  list-style: none;
}

.exp #li {
  margin-bottom: 1.25rem;
}

.ed {
  text-align: center;
}

.ed ul {
  margin-top: 1.25rem;

  list-style-position: outside;
}

.ed li {
  list-style: none;
}

/*  Right side  */

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Media queries */

@media (max-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
  
  .bio li {
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.25rem;
  }
  
  .techs section {
    text-align: center;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exp ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  .ed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ed ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }  
}

@media (max-width: 425px) {
  body {
    display: grid;
    grid-template-columns: 117%;
  }

  .container {
    width: 100%;
  }

  .bio li {
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.25rem;
  }

  .techs {
    text-align: center;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exp ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  .ed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ed ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }
  
  main {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 105%;
  }
  
  .container {
    width: 100%;
  }

  .bio li {
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.25rem;
  }

  .techs {
    text-align: center;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exp ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  .ed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ed ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  main {
    display: none;
  }
}

@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 100%;
  }

  .container {
    width: 100%;
  }

  .bio li {
    flex-direction: column;
    font-size: 1.5rem;
    gap: 0.25rem;
  }

  .techs {
    text-align: center;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exp ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  .ed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ed ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }  

  main {
    display: none;
  }
}

@media (max-width: 1440px) {
  main .container {
    width: 100%;
  }

  .bio li {
    font-size: 1.0rem;
  }

  .techs section {
    grid-template: 1fr 1fr 1fr /1fr 1fr;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exp ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  }

  .ed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ed ul {
    margin-top: 1.25rem;    
    margin-left: 0;
  } 
}
